Using HTTP 422 - Unprocessable Entity in special cases while updating an Transactions

### Currenct state
Sometimes it happens that transactions can no longer be updated due to plausibility checks or business rules in the underlying ERP system. This can also be the case if the transaction is formulated correctly in terms of content and corresponds to the process flow defined in AvaL.

The HTTP status codes 400, 404, 409 and 500 defined in the specification are unsuitable for that kind of error indication.

### Enhancement
Therefore, the HTTP status code 422 should be used. According to RFC 4918 Section 11.2[^1], this should always be used when the request was syntactically correct but there are semantic errors. In this case, the sematic errors would be failed checks in the underlying ERP system.

[^1]: https://datatracker.ietf.org/doc/html/rfc4918#section-11.2